[submodule "upstream/lizheng-open-context"]
	path = upstream/lizheng-open-context
	url = https://github.com/sunyuzheng/lizheng-open-context.git
	branch = main
[submodule "upstream/context-infrastructure"]
	path = upstream/context-infrastructure
	url = https://github.com/grapeot/context-infrastructure.git
	branch = main
[submodule "upstream/zvec-grep"]
	path = upstream/zvec-grep
	url = https://github.com/zvec-ai/zvec-grep.git
	branch = main
[submodule "upstream/OpenViking"]
	path = upstream/OpenViking
	url = https://github.com/volcengine/OpenViking.git
	branch = main
